{% extends "base/base.html" %} {% load static %} {% block css %} <link
rel="stylesheet" href="{% static "css/blog_reading.css" %}"> {% endblock css %}
{% block content %}


<div class="bg-neutral-800 flex flex-col hight-content justify-center items-center">
  <!--image-->
  <img
    class="w-[350px] h-[200px] md:w-[600px] md:h-[300px] lg:w-[800px] lg:h-[400px] mt-4 rounded"
    src="{{blog_details.thumbnail.url}}"
    alt=""
  />
  <!--title-->
  <h1 class="text-white text-[30px] font-bold mt-4 w-[350px] md:w-[600px] lg:w-[800px]">{{blog_details.title}}</h1>
  <!--content-->
  <p class="text-white text-[20px] w-[350px] md:w-[600px] lg:w-[800px] mt-4">{{blog_details.content}}</p>
  <div class="ml-[-80px] lg:ml-[-380px] md:ml-[-180px] flex flex-col mt-4 mb-4">
    <!--author-->
    <p class="text-white font-bold text-[18px] mr-[140px] md:mr-[290px]">Author: {{blog_details.author|upper}}</p>
    <!--date and other information-->
    <p class="text-white">{{blog_details.created_at|timesince}}</p>
  </div>
</div>

{% endblock content %}
