{% extends "base/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "css/blog_reading.css" %}">
{% endblock css %}
{% block content %}

<div class="bg-neutral-800 flex flex-col hight-content justify-center items-center">
  <!--image-->
  <img class="w-[350px] h-[200px] md:w-[600px] md:h-[300px] lg:w-[800px] lg:h-[400px] mt-4 rounded" src="{{blog_details.thumbnail.url}}" alt="" />
  <!--title-->
  <h1 class="text-white text-[30px] font-bold mt-4 w-[350px] md:w-[600px] lg:w-[800px]">{{blog_details.title}}</h1>
  <!--content-->
  <p class="text-white text-[20px] w-[350px] md:w-[600px] lg:w-[800px] mt-4">{{blog_details.content|safe}}</p>
  <div class="w-[350px] md:w-[600px] lg:w-[800px] my-4 flex flex-col md:flex-row md:justify-between md:items-center">
    <!--user info-->
    <div>
      <!--author-->
      <p class="text-white font-bold text-[18px]">Author: {{blog_details.author|upper}}</p>
      <!--date and other information-->
      <p class="text-white">{{blog_details.created_at|timesince}}</p>
    </div>
    <!-- Action buttons -->
    {% if user.is_authenticated and user.is_superuser %}
      <div class="mt-4 md:mt-0 flex justify-end">
        <button data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="bg-red-500 rounded-lg p-2 text-white text-center hover:bg-red-600 transition duration-[0.3s]" type="button">
          Delete
        </button>
      </div>
    {% endif %}
  </div>

  <!-- Comments feature -->
  <div class="w-[350px] md:w-[600px] lg:w-[800px] mt-4">
    <h2 class="text-white text-[25px] font-bold">Comments ({{number_of_comments}})</h2>
    <ul>
      {% for comment in comments %}
        <li class="bg-neutral-600 h-fit w-1/2 rounded-2xl mx-7 my-2">
          <div class="mx-3">
            <h1 class="text-white text-[20px] mt-2 font-bold">{{ comment.author.username }}</h1>
            <p class="text-white/90 mb-1">{{ comment.content }}</p>
            <p class="text-white/70 text-[12px] text-end my-4">{{comment.created_at|timesince}} ago</p>
          </div>
        </li>
      {% empty %}
        <li class="text-white mt-2">No comments yet. Be the first to comment!</li>
      {% endfor %}
    </ul>
  </div>

  <!--Comment form-->
  {% if user.is_authenticated %}
  <div class="w-[350px] md:w-[600px] lg:w-[800px] mt-10">
    <h2 class="text-white text-[25px] font-bold">Comment</h2>
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3 mt-2">
        {{ form.content }}
      </div>
      <button type="submit" class="w-[100px] mb-5 bg-blue-500 rounded-lg p-2 text-white text-center hover:bg-blue-600 transition duration-[0.3s]">Submit</button>
    </form>
  </div>
  {% endif %}
</div>

<!--pop-up Model for delete button-->
<div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-md max-h-full">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
              </svg>
              <span class="sr-only">Close modal</span>
          </button>
          <div class="p-4 md:p-5 text-center">
              <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
              </svg>
              <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to delete this blog?</h3>
              <a href="{% url "delete_blog" blog_details.id %}">
                  <button data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                      Yes, I'm sure
                  </button>
              </a>
              <button data-modal-hide="popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No, cancel</button>
          </div>
      </div>
  </div>
</div>

{% endblock content %}
