<!-- navbar -->

<nav
  class="flex justify-between mx-[32px] sm-custom:mx-[25px] md:mx-[64px] lg:mx-[60px]"
>
  <!--logo and navigations-->
  <div class="flex mt-4 items-center">
    <p
      class="text-white font-bold mt-2 text-[12px] md:text-[18px] cursor-pointer flex"
    >
      <span
        class="mr-[5px] mt-[-2px] md:mt-[0.5px] w-[25px] h-[25px] sm-custom:w-[20px] sm-custom:h-[20px]"
        ><svg
          viewBox="0 0 1024 1024"
          class="icon"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          fill="#000000"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M780.8 535.7l-39.5-6.2 46-292.8-286.6 48-6.6-39.4 341.3-57.2z"
              fill="#ffffff"
            ></path>
            <path
              d="M626.153 367.866L760.915 236.92l27.876 28.688-134.762 130.947z"
              fill="#ffffff"
            ></path>
            <path
              d="M404.6 711.1m-87.1 0a87.1 87.1 0 1 0 174.2 0 87.1 87.1 0 1 0-174.2 0Z"
              fill="#ffffff"
            ></path>
            <path
              d="M811.4 212.4m-87.1 0a87.1 87.1 0 1 0 174.2 0 87.1 87.1 0 1 0-174.2 0Z"
              fill="#ffffff"
            ></path>
            <path
              d="M329.1 63.9c-6.9 5.6-13.5 11.5-19.9 17.8-134.8 133.1-102.3 381 72.5 553.6S807.5 840 942.3 706.9c6.4-6.3 12.4-12.9 18-19.7L329.1 63.9zM575.4 928.1c0.5-3.8 0.8-7.6 0.8-11.5 1.9-81.5-82.2-147.6-187.9-147.7-105.7-0.1-193 65.9-195 147.4-0.1 3.9 0 7.7 0.3 11.5l381.8 0.3z"
              fill="#ffffff"
            ></path>
          </g></svg></span
      >WARTABIYE
    </p>
    <ul
      class="hidden lg:flex ml-[30px] lg:mt-2 text-white text-[18px] mt-1 cursor-pointer"
    >
      <li class="mr-[16px] hover:text-white/50 duration-200 ease-in-out">
        <a href="/">
        Home
        </a>
      </li>
      
        <li class="mr-[16px] hover:text-white/50 duration-200 ease-in-out">
          <a href="{% url "blogs" %}">
          Blog
        </a>
        </li>
    </ul>
  </div>
  <!--search bar, avatar and button-->
  <div class="mt-4 flex items-center">
    <div class="relative">
      <input
        id="search-item"
        class="w-[120px] h-[28px] md:w-[200px] md:h-[30px] lg:w-[300px] lg:h-[30px] text-[13px] md:text-[14px] bg-[#363639] rounded border-none text-white sm-custom:ml-[10px]"
        type="text"
        placeholder="Search"
      />
      <span
        class="absolute inset-y-0 left-0 pl-3 hidden items-center cursor-pointer"
        ><i class="fa-solid fa-magnifying-glass" style="color: #ffffff"></i
      ></span>
    </div>

    <!-- Checking if user is authenticated-->

    {% if user.is_authenticated %}
    <a href="{% url "logout" %}">
      <button
        class="ml-4 px-2 py-1 text-white font-medium bg-[#363639] rounded flex items-center"
      >
        <span class="mr-2"
          ><i class="fa-solid fa-right-to-bracket" style="color: #ffffff"></i
        ></span>
        <span class="text-[14px]"> 
          Logout
        </span>
      </button>
    </a>
    <!--When user is not authenticated-->
    {% else %}
    <a href="{% url "login" %}">
      <button
        class="ml-4 px-2 py-1 text-white font-medium bg-[#363639] rounded flex items-center"
      >
        <span class="mr-2"
          ><i class="fa-solid fa-right-to-bracket" style="color: #ffffff"></i
        ></span>
        <span class="text-[14px]"> 
        Login
        </span>
      </button>
    </a>
    {% endif %}
  </div>
</nav>
