{% extends "base/base.html" %}
{% load static %}
{% block content %}

{% block css %}
<link rel="stylesheet" href="{% static "css/home_page.css" %}">
{% endblock css %}


<div id="home" class="h-fit">
  <!-- Navbar-->
  {% include "navbar/navbar.html" %}
  <!-- HomePage -->

  <div class="mx-[30px] mt-[74px]">
    <!-- Title, Description, and call-back buttons-->
    <div class="">
      <h1 class="text-[40px] md:text-[50px] text-white text-center font-extrabold cursor-pointer lg:text-[60px] sm-custom:text-[30px]">
        Stay informed with
        <span class="bg-gradient-to-r from-[#FFA500] to-[#FFD700] text-transparent bg-clip-text">Wartabiye</span>
      </h1>
      <p class="text-[13px] md:text-[15px] text-white font-light text-center md:w-[450px] md:ml-[145px] lg:w-[550px] lg:ml-[345px]">
        Your Daily Source for News and Articles Stay Informed Stay Engaged Stay Inspired with Wartabiye best platform for News and Articles
      </p>
      <!-- Call back buttons -->
      <div class="text-center mt-[12px]">
        <button class="h-[30px] w-[100px] lg:h-[35px] lg:w-[150px] text-white rounded-[5px] font-medium text-[14px] lg:text-[18px] bg-[#363639] cursor-pointer mr-[20px] hover:bg-[#49494d]">Get Started</button>
        <a href="#">
          <button class="h-[30px] w-[90px] lg:h-[35px] lg:w-[120px] text-white rounded-[5px] font-medium text-[14px] lg:text-[18px] border border-[#4B4B50] cursor-pointer hover:bg-[#363639]">
            <span class="mr-[1px]"><i class="fa-brands fa-github" style="color: #ffffff"></i></span>
            GitHub
          </button>
        </a>
      </div>
    </div>
    <!-- BLOGS -->
    {% include 'home/blogs/blogs.html' %}
  </div>
</div>







{% block js %}
  <script src="{% static 'js/homePage.js' %}"></script>
{% endblock js %}

{% endblock content %}
